#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

export CLASSPATH=/usr/share/java/jackson-core.jar:/usr/share/java/jackson-annotations.jar:/usr/share/java/jackson-databind.jar:/usr/share/java/jna.jar:/usr/share/java/juh.jar:/usr/share/java/ridl.jar:/usr/share/java/unoil.jar
export JAVA_HOME=/usr/lib/jvm/default-java

%:
	dh $@ --with xul-ext,javahelper

override_dh_auto_build:
	./build.sh -p l -v ${DEB_VERSION} -d

	# Create the XPI file, filtering out the test subdirectory
	cp -a modules/zotero modules/zotero.new
	rm -rf modules/zotero.new/test
	xpi-pack modules/zotero.new xul-ext-zotero.xpi
	rm -rf modules/zotero.new

override_jh_build:
	jh_build -N staging/zotero-libreoffice-integration/build/oxt/Zotero.jar staging/zotero-libreoffice-integration/build/source
	# Add the RegistrationHandler.classes file
	jar uf staging/zotero-libreoffice-integration/build/oxt/Zotero.jar -C staging/zotero-libreoffice-integration/build/source org/zotero/integration/ooo/comp/RegistrationHandler.classes

override_dh_auto_install:
	rm -f staging/zotero-standalone/COPYING
	rm -f staging/zotero-standalone/xul-ext/zotero-standalone/COPYING
	rm -f staging/zotero-standalone/xul-ext/zotero-standalone/resource/tinymce/license.txt
	rm -f staging/zotero-libreoffice-integration/COPYING
	install-xpi -p xul-ext-zotero -r xul-ext-zotero.xpi

# We don't want to act on the jar in zotero-standalone (which is codeless)
override_jh_manifest:
	jh_manifest -plibreoffice-zotero-integration

# We don't want to act on the jar in zotero-standalone (which is codeless)
override_jh_depends:
	jh_depends -plibreoffice-zotero-integration

override_dh_auto_clean:
	rm -rf staging
	rm -f xul-ext-zotero.xpi
